.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.form-box {
    max-width: 100rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    padding: 2rem;
    border-radius: 1.2rem;
}

.form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 2rem;
}

.form-content-box {
    max-width: 50rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.form-content-box h2 {
    color: var(--marine-blue);
    font-size: 3rem;
}
.form-content-box h2:first-letter,
.form-content-box h3:first-letter{
    text-transform: capitalize;
}

.form-content-box h3 {
    color: var(--cool-gray);
    font-weight: 400;
    font-size: 1.8rem;
}

.form form {
    flex-grow: 1;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form .buttons-container {
    display: flex;
    justify-content: space-between;
}

.back-btn {
    cursor: pointer;
    background-color: transparent;
    padding: 1.4rem 2.4rem;
    border: none;
    color: var(--cool-gray);
    font-weight: 700;
}
.back-btn:hover {
    text-decoration: underline;
}

.next-btn,
.reset-btn  {
    background-color: var(--marine-blue);
    color: var(--white);
    border-radius: 0.4rem;
    padding: 1.4rem 2.4rem;
    border: none;
    cursor: pointer;
}
.next-btn:hover {
    opacity: 0.6
}

.reset-btn {
    background-color: var(--strawberry-red);
}
.reset-btn:hover {
    opacity: 0.6
}