.step-track {
    width: 27.4rem;
    height: 56.8rem;
    color: var(--white);
    background-image: url("/images/bg-sidebar-desktop.svg");
    border-radius: 1rem;
    padding: 4rem 3rem;
}

.step-track ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.step-track li {
    width: 100%;
    display: flex;
    gap: 2rem;
}
.step-track li > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: 0.1rem solid var(--white);
    font-weight: 700;
}

.step-track .selected-step {
    background-color: var(--light-blue);
    border: 0.1 solid var(--light-blue) !important;
    color: var(--marine-blue);
}

.step-track li > div:nth-child(2) > p {
    text-transform: uppercase;
    color: var(--light-gray);
    font-weight: 400;

}

.step-track li > div:nth-child(2) > p:nth-child(2) {
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: var(--white);
}